:root{

    --primary-bg-colour: #45E545;
    --secondary-bg-colour: #4AD53E;
    --tertiary-bg-colour: #48B73E;

    --primary-fo-colour: white;
    --primary-btn-fsize: 2em;


}

body{

    margin: 0;
    padding :0;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-bg-colour);
    color: var(--primary-fo-colour);

}

header{

    
    display: flex;
    margin: 0 auto;
    width: 40vw;
    justify-content: space-between;
    align-items: center;

}

.btn{

    padding: 2.5vh 3vw;
    background-color: var(--secondary-bg-colour);
    color: var(--primary-fo-colour);
    font-size: var(--primary-btn-fsize);
    border:none;
    border-radius: 15px;

    transition: all .25s;

}

.btn:hover{

    background-color: var(--tertiary-bg-colour);

}

#settings{

    width: 2.5rem;
    z-index: 2;

}

#pomodoro__counter{

    background-color: var(--secondary-bg-colour);
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

#pomodoro__buttons{

    padding: 4vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 5vw;

}

#counter__container{

    text-align: center;

}

#counter__buttons{

    display: flex;
    justify-content: center;

}

#tasks{

    display: flex;
    flex-direction: column;
    align-items: center;

}

#todo__tasks form{

    display: flex;
    flex-direction: column;
    width: 30vw;

}

#todo__tasks input{

    padding: .25rem 1rem;

}

#todo__tasks input {

    margin: .5rem;

}

.modal__overlay{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container{

    height: 70vh;
    width: 60vw;

    background-color: red;

}

.hidden{

    opacity: 0;
    z-index: -1;

}